.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 10px;
  text-align: center;
}

ul {
  flex-wrap: wrap;
  justify-content: center;
}

li {
  font-weight: bold;
  margin: 20px;
}

li span:last-child {
  margin-left: 20px;
}
